html, body {
  margin: 0;
  padding: 0;
  background: wheat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid saddlebrown;
  transition: background 0.5s;
}

ul li a:hover:not(.class10) {
  background-color: deepskyblue;
}

.navbar li {
  position: relative;
  flex: 1;
  text-align: center;
}

.class10 {
  background-color: gold;
  color:saddlebrown;
}

.dropdown {
  display: none;          
  position: absolute;       
  top: 100%;                 
  left: 0;
  background-color: skyblue;
  min-width: 100%;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0 ,0 ,0 ,0.5);
}

.dropdown li {
  flex: unset;
  text-align: center;
}

.dropdown li a {
  border-bottom: 1px solid saddlebrown;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.dropdown li a:hover {
  background-color: deepskyblue;
}

.navbar li:hover .dropdown {
  display: flex;
}