html, body {
  margin: 0;
  padding: 0;
  background: wheat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid saddlebrown;
  transition: background 0.5s;
}

ul li a:hover:not(.administration) {
  background-color: deepskyblue;
}

.navbar li {
  position: relative;
  flex: 1;
  text-align: center;
}

.administration {
  background-color: gold;
  color:saddlebrown;
}

.dropdown {
  display: none;          
  position: absolute;       
  top: 100%;                 
  left: 0;
  background-color: skyblue;
  min-width: 100%;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0 ,0 ,0 ,0.5);
}

.dropdown li {
  flex: unset;
  text-align: center;
}

.dropdown li a {
  border-bottom: 1px solid saddlebrown;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.dropdown li a:hover {
  background-color: deepskyblue;
}

.navbar li:hover .dropdown {
  display: flex;
}

.teachers-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
  gap: 20px; 
  padding-top: 15px;  
}

.teacher-card {
  background-color: white;
  padding: 15px;
  text-align: center;
  width: 28%;
  border: 5px solid;
  border-image: linear-gradient(to bottom, skyblue, gold) 1;
}

.teacher-card img {
  width: 200px;
  height: 260px; 
  object-fit: cover; 
}


.teacher-card h3 {
  margin: 10px 0 5px 0;
}

.teacher-card p {
  font-size: 16px;
  color: black;
}

.role {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-bottom: 15px; 
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

footer {
  background-color: grey;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 20px 10px;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
