html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: wheat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: skyblue;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid saddlebrown;
  transition: background 0.5s;
}

ul li a:hover:not(.mainbar) {
  background-color: deepskyblue;
}

.navbar li {
  position: relative;
  flex: 1;
  text-align: center;
}

.mainbar {
  background-color: gold;
  color:saddlebrown;
}

.maintext {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  height: calc(100% - 40px); 
  padding: 10px;
  box-sizing: border-box;
}

.maintext img {
  max-height: 85%;  
  width: 60%;
  margin-bottom: 10px;
  border: 5px solid;
  border-image: linear-gradient(to bottom, skyblue, gold) 1;
}

.maintext h1 {
  color: saddlebrown;
}

.dropdown {
  display: none;          
  position: absolute;       
  top: 100%;                 
  left: 0;
  background-color: skyblue;
  min-width: 100%;
  flex-direction: column;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0 ,0 ,0 ,0.5);
}

.dropdown li {
  flex: unset;
  text-align: center;
}

.dropdown li a {
  border-bottom: 1px solid saddlebrown;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.dropdown li a:hover {
  background-color: deepskyblue;
}

.navbar li:hover .dropdown {
  display: flex;
}

footer {
  background-color: saddlebrown;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 20px 10px;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
